:root {
  --font-family: sans-serif;

  --color-bg: #fbfbf4;
  --color-main: #1b0c02;
  --color-blog: #251307;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-main-button: #FF4820;

  --font-size-header: 38px;
  --font-size-subheader: 26px;
  --font-size-main: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:  var(--color-bg);  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
