.spinner {
    color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 2rem;
   }

.icon-mail:hover {
    color: rgb(112, 47, 150);
    cursor: pointer;
    transition: all ease-in-out 400ms;
}
   
