.card {
	padding: 1rem;
	margin: 0;
	border-radius: .7em;
	display: flex;
	flex-direction: column;
	cursor: grab;
	color: var(--color-footer);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card__header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	height: 60px;
	width: 100%;
	font-family: var(--font-family);
}

.card__text-p {
	font-size: 18px;
	font-family: var(--font-family);
}

.card__youtube-log {
	margin-right: 2rem;
	transition: color 0.8s;
}

.card__youtube-log:hover {
	color: rgb(255, 2, 2);
	cursor: pointer;
}

.card__youtube-log:focus,
.card__youtube-log:active {
	transition: none;
}

.card__github-log {
	margin-right: 2rem;
	transition: color 0.8s;
}

.card__github-log:hover {
	color: rgb(232, 93, 12);
	cursor: pointer;
}

.card__github-log:focus,
.card__github-log:active {
	transition: none;
}

.card-icon { 
	margin-left: 1.5rem;
	margin-right: 1.5rem
}



/* --------- Grid ---------- */
.grid {
	max-width: 1500px;
	height: 100%;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 25px;
}

.item1 {
	grid-area: 1 / 1 / 1 / 3;
	background: linear-gradient(90deg, hsla(177, 87%, 79%, 0.8) 0%, hsla(235, 89%, 70%, 0.75) 100%);


}

.item2 {
	grid-area: 2 / 1 / 4 / 3;
	background: linear-gradient(90deg, hsla(312, 77%, 86%, 0.8) 0%, hsla(220, 61%, 79%, 0.8) 100%);
}

.item3 {
	grid-area: 1 / 3 / 4 / 5;
	background: linear-gradient(90deg, hsla(139, 70%, 75%, 0.75) 0%, hsla(63, 90%, 76%, 0.8) 100%);
	display: flex;
	align-items: center;
}

.item4 {
	grid-area: 4 / 3 / 4 / 5;
	background: linear-gradient(90deg, hsla(173, 89%, 70%, 0.7) 0%, hsla(196, 68%, 38%, 0.7) 100%);

}

.item5 {
	background: linear-gradient(90deg, rgba(255, 203, 168, 0.7) 0%, hsla(341, 91%, 68%, 0.7) 100%);
	grid-area: 4 / 1 / 4 / 3;
}

.container__tech-stack {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-left: 0.5rem;
	height: 100px;
	width: 100%
}

.tech-stack {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 700px) {
	/* .grid {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, minmax(auto, 300px));
		overflow-y: scroll;
	}

	.item1 {
		grid-area: 1 / 1 / 2 / 3;
	}

	.card {
		grid-area: auto;
		text-align: left;

	} 
	.grid {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card { 
		width: 25em;
		height: 40em;
	} */
}