.card {
	padding: 1rem;
	margin: 0;
	border-radius: .7em;
	display: flex;
	flex-direction: column;
	cursor: grab;
	background-color: var(--color-card);
	border: 1px solid var(--color-border);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card__header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	height: 60px;
	width: 100%;
	font-family: var(--font-family);
	background-color: #fff;
	background: linear-gradient(to right, #642b73, #c6426e);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.card__text-p {
	font-size: 18px;
	font-family: var(--font-family);
	color: var(--text-color);
}

.card__youtube-log {
	margin-right: 2rem;
	transition: color 0.8s;
}

.card__youtube-log:hover {
	color: rgb(255, 2, 2);
	cursor: pointer;
}

.card__youtube-log:focus,
.card__youtube-log:active {
	transition: none;
}

.card__github-log {
	margin-right: 2rem;
	transition: color 0.8s;
}

.card__github-log:hover {
	color: rgb(232, 93, 12);
	cursor: pointer;
}

.card__github-log:focus,
.card__github-log:active {
	transition: none;
}

.card-icon { 
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	color: var(--text-color);
}



/* --------- Grid ---------- */
.grid {
	max-width: 1500px;
	height: 100%;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 25px;
}

.item1 {
	grid-area: 1 / 1 / 1 / 3;
	color: var(--color-header);
}

.item2 {
	grid-area: 2 / 1 / 4 / 3;
	color: var(--color-header);
}

.item3 {
	grid-area: 1 / 3 / 4 / 5;
	display: flex;
	align-items: center;
	color: var(--color-header);
}

.item4 {
	grid-area: 4 / 3 / 4 / 5;
	color: var(--color-header);
}

.item5 {
	grid-area: 4 / 1 / 4 / 3;
	color: var(--color-header);
}

.container__tech-stack {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-left: 0.5rem;
	height: 100px;
	width: 100%
}

.tech-stack {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 700px) {
	.grid {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.card {
		width: 45vh;
		height: auto;
	}
}