.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
    position: relative;
}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;
}

.gpt3__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

 .button-30 {
  align-items: center;
  appearance: none;
  background-color: #D6AD60;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#f4d8c9 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--color-main);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family),monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4f2c1c 0 -3px 0 inset;
  color: white;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4f2c1c 0 -3px 0 inset;
  transform: translateY(-2px);
  color: white;
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
  color: white;
}


.gpt3__navbar-menu {

    /* display: none; */
    position: relative;
}

.gpt3__navbar-menu svg {
    cursor: pointer;
}

.gpt3__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-main);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.gpt3__navbar-menu_container p {
    margin: 1rem 0;
}

.gpt3__navbar-menu_container-links-sign {
    display: none;
}


.icons { 
    color: var(--color-main);
    cursor: pointer;
}

.menu {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow:hidden;
    z-index: 1;
    background: rgba(18, 16, 0, 0.85)    ;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.link-list { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 520;
    color: rgb(255, 255, 255);
}

.link-list p:hover { 
    /* text-shadow: 0.5px 0.5px 0.5px rgba(255,255,255,1); */
    filter: drop-shadow(0 0 4px);
}

.menu-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-navbar { 
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icon-close { 
    color: rgb(255, 255, 255);
    flex-grow: 1;
    margin-left: 15rem;
    transition: transform .2s;
    cursor: pointer;
}

.icon-close:hover { 
    transform: scale(1.4);
    color: rgba(255,255,255,1);
    filter: drop-shadow(0 0 6px)
}