.container { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step__indicator {
    width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .step__indicator-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    box-shadow: 4px 4px 8px #43543d, -4px -4px 8px #ccecbb,
      inset 0px 0px 0px #43543d, inset 0px 0px 0px #c0dcb0;
    position: relative;
    cursor: pointer;    
    transition: all 500ms ease-in-out;
    font-size: 1rem;
    color: var(--color-footer);
    text-decoration: none;
  }

  .step__indicator-link-selected {
    box-shadow: 0px 0px 0px #5c6d55, 0px 0px 0px #bfe4ab,
    inset 4px 4px 8px #5c6d55, inset -4px -4px 8px #b2cea3;
      
  }

  .card__section {
      display: flex;
      flex-direction: row;
      position: relative;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      top: 3rem;
      overflow: hidden;
      width: 100%;
      border-radius: .7em;
      max-width: 800px;
      min-width: 300px;
      cursor: grab;
      background: linear-gradient(90deg, hsla(173, 89%, 70%, 0.7) 0%, hsla(196, 68%, 38%, 0.7) 100%);
  }
 
  .year__2019 { 
    background: linear-gradient(90deg, hsla(312, 77%, 86%, 0.8) 0%, hsla(220, 61%, 79%, 0.8) 100%);
  }
  
  .year__2020 { 
    background: linear-gradient(30deg, hsla(139, 70%, 75%, 0.75) 0%, hsla(63, 90%, 76%, 0.8) 100%);
  }

  .year__2021 { 
    background: linear-gradient(90deg, rgba(255, 203, 168, 0.7) 0%, hsla(341, 91%, 68%, 0.7) 100%);
  }

  .course-preview {
    color: #fff;
    padding: 30px;
    width: 70%;
    display: flex;
    align-items: center;
  }

  .course-info {
    padding: 1rem;
    position: relative;
    width: 100%;
  }

  .btns-wrapper { 
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
  }

  .course-info-btn {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.8rem;
    cursor: pointer;
    color: var(--color-bg);
    font-family: var(--font-family);
    transition: all 400ms ease-in-out;
    box-shadow: 4px 4px 8px #43543d, -4px -4px 8px #ccecbb,
      inset 0px 0px 0px #43543d, inset 0px 0px 0px #c0dcb0;
  }
  
  .course-info-btn__active { 
    scale: 1.15;
    color: var(--color-bg);
    box-shadow: 0px 0px 0px #5c6d55, 0px 0px 0px #bfe4ab,
    inset 2px 2px 6px #5c6d55, inset -4px -4px 8px #b2cea3;
  }

  .achievements__text { 
    list-style: none;
    font-size: 16px;
    padding: 0;
    color: var(--color-footer);
    font-weight: 500;
    font-family: var(--font-family);
  }

  .achievements__text li { 
    text-decoration: none;
    padding: 0.5rem;
  }

   .achievements__text a { 
    color:rgb(68, 0, 193)
  }
