.container { 
  width: 180vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.step__indicator {
    width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .step__indicator-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    box-shadow: 4px 4px 8px #43543d, -4px -4px 8px #999999,
      inset 0px 0px 0px #43543d, inset 0px 0px 0px #999999;
    position: relative;
    cursor: pointer;    
    transition: all 500ms ease-in-out;
    font-size: 1rem;
    color: var(--color-main);
    text-decoration: none;
  }

  .step__indicator-link-selected {
    box-shadow: 0px 0px 0px #5c6d55, 0px 0px 0px #999999,
    inset 4px 4px 8px #5c6d55, inset -4px -4px 8px #999999;
      
  }

  .card__section {
      display: flex;
      flex-direction: row;
      width: 120vh;
      position: relative;
      top: 3rem;
      overflow: hidden;
      border-radius: .7em;
      cursor: grab;
      background-color: var(--color-card);
	    border: 1px solid var(--color-border);
	    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      color: var(--color-header);
  }
 
  .course-preview {
    color: var(--color-card);
    padding: 30px;
    width: 70%;
    display: flex;
    align-items: center;
  }

  .course-info {
    padding: 1rem;
    position: relative;
    width: 100%;
  }

  .btns-wrapper { 
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
  }

  .course-info-btn {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.8rem;
    cursor: pointer;
    color: var(--color-bg);
    font-family: var(--font-family);
    transition: all 400ms ease-in-out;
    box-shadow: 4px 4px 8px #43543d, -4px -4px 8px #999999,
      inset 0px 0px 0px #43543d, inset 0px 0px 0px #999999;
  }
  
  .course-info-btn__active { 
    scale: 1.15;
    color: var(--color-bg);
    box-shadow: 0px 0px 0px #5c6d55, 0px 0px 0px #999999,
    inset 2px 2px 6px #5c6d55, inset -4px -4px 8px #999999;
  }

  .achievements__text { 
    list-style: none;
    font-size: 16px;
    padding: 0;
    color: var(--color-main);
    font-weight: 500;
    font-family: var(--font-family);
  }

  .achievements__text li { 
    text-decoration: none;
    padding: 0.5rem;
  }

   .achievements__text a { 
    color:rgb(68, 0, 193)
  }

  @media only screen and (max-width: 700px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50vh;
      margin-left: 2rem;
    }
    .card__section {
      width: 40vh;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    .course-preview {
      width: 100%;
      padding: 10px;
    }
    .card-wrapper { 
      display: flex;
      justify-content: center;
    }
  }