.fab-container {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    margin: 0;
    padding: 0;

    position: fixed;
    right: 6.5em;
    bottom: 2em;
    max-height: 52px;
  }

  
.fab-container_button {
  align-items: center;
  border-radius: .25rem;
  background: rgba(90, 41, 119, 0.75);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1.5px solid var(--color-main);
  box-shadow: 4px 4px 8px #43543d, inset 0px 0px 0px #43543d;
  box-sizing: border-box;
  color: var(--color-main);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 570;
  font-family: var(--font-family);
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all ease-in-out 400ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.fab-container_button:hover {
  box-shadow: rgba(67, 84, 61, 1)
  0px 10px 20px, rgba(67, 84, 61, 1) 0px 8px 8px;
  color: #fff;
}

.fab-container_button:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 700px) { 
    .fab-container { 
       display: none;
    }
 }